<div class="card horizontal">
    <div class="card-image">
        <img src="/public/upload/{{image.filename}}">
    </div>
    <div class="card-stacked">
        <div class="card-content">
            <h2 class="card-title">{{image.title}}<small> <i class="tiny material-icons"> access_time </i> {{timeAgo image.timestamp}}</small></h2>
            <p>{{image.description}}</p>
        </div>
        <div class="card-action">
            <button class="btn purple darker-4" id="btn-like" fata-id="{{image.uniqueId}}"><i
                    class="material-icons">thumb_up</i></button>
            <button class="btn red darker-4" id="btn-delete" fata-id="{{image.uniqueId}}"><i
                    class="material-icons">delete_forever</i></button>
            <span class="likes-counts"><span class="badge">
                <i class="material-icons">remove_red_eye</i>{{image.views}}</span><span class="badge">
                <i class="material-icons">how_to_reg</i>{{image.likes}}</span></span>
        </div>
    </div>
</div>